*{
  font-family: 'Roboto', sans-serif;
}
html{
  scroll-behavior: smooth;
}

ul > li > a:hover{
  color: #e53e3e;
}
ul li .rg {
  position: relative;
  display: block;
  color: #ffff;
  border: 1px #e53e3e solid;
  text-transform: uppercase;
  outline: 0;
  overflow:hidden;
  background: none;
  z-index: 1;
  cursor: pointer;
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}

ul li .rg:hover {
  color: black;
}

ul li .rg:before {
  content: "";
  position: absolute;
  background: #e53e3e;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.09s ease-in;
}

ul li .rg:hover:before {
  top: 0;
}