<nav
  class="top-0 absolute z-50 w-full flex flex-wrap items-center justify-between px-2 py-3 navbar-expand-lg"
>
  <div
    class="container px-4 mx-auto flex flex-wrap items-center justify-between"
  >
    <div
      class="w-full relative flex justify-between lg:w-auto lg:static lg:block lg:justify-start"
    >
    <a
        class="text-xl  leading-relaxed inline-block mr-4 py-2 whitespace-no-wrap uppercase text-white"
        href=""
        >Power<span class="text-red-600">Zone</span></a>
      <button
        class="cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none"
        type="button"
        (click)="toggleNavbar()"
      >
        <i class="text-white fas fa-bars"></i>
      </button>
    </div>
    <div
      class="lg:flex flex-grow items-center bg-white bg-opacity-0 lg:bg-transparent lg:shadow-none"
      [ngClass]="{'hidden': !showMenu, 'block': showMenu}"
    >
      <ul class=" flex flex-col lg:flex-row list-none lg:ml-auto lg:mr-auto">
        <li class="flex items-center">
          <a
            class="lg:text-white  px-3 py-4 lg:py-2 flex items-center text-xl uppercase "
            href="#About">
            About Us</a>
        </li>
        <li class="flex items-center">
          <a
            class="lg:text-white text-gray-800 px-3 py-4 lg:py-2 flex items-center text-xl uppercase "
            href="#Goal"
            >Our Goal</a
          >
        </li>
        <li class="flex items-center">
          <a
            class="lg:text-white text-gray-800 px-3 py-4 lg:py-2 flex items-center text-xl uppercase "
            href="#Trainers"
            >Our Trainers</a
          >
        </li>
        <li class="flex items-center">
          <a href="#Why"
          class="lg:text-white text-gray-800 px-3 py-4 lg:py-2 flex items-center text-xl uppercase "
          >
          Why Us</a>
        </li>
        
        <li class="flex items-center">
          <a href="login"
          class="rg lg:text-white text-white px-3 py-1 ml-4 lg:py-2 flex items-center text-xl uppercase "
          >
          Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
