<footer class="relative bg-black pt-8 pb-6">
 
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap">
      <div class="w-full lg:w-6/12 px-4">
        <div class="flex flex-wrap items-top mb-6">
          <div class="w-full lg:w-4/12 px-4 ml-auto">
            
          </div>
        </div>
      </div>
    </div>
    <div
      class="flex flex-wrap items-center md:justify-between justify-center"
    >
      <div class="w-full md:w-4/12 px-4 mx-auto text-center">
        <div class="text-sm text-white font-semibold py-1">
          Copyright © {{date}} Powerzone by
          <a
            href="https://www.instagram.com/oudi_sw/"
            class="text-white hover:text-gray-600"
            >Louay Oudi</a
          >.
        </div>
      </div>
    </div>
  </div>
</footer>
