
<app-navbar class=""></app-navbar>
<main>
  <div
    class="relative pt-16 pb-32 flex content-center items-center justify-center"
    style="min-height: 100vh;"
  >
    <div
      class="bg absolute top-0 w-full h-screen bg-center bg-cover mb-5"
      style='background-image: url("https://images.unsplash.com/photo-1583454110551-21f2fa2afe61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");'
    >
      <span
        id="blackOverlay"
        class="w-full h-full absolute opacity-75 bg-black"
      ></span>
    </div>
    <div class="container block relative mx-auto ">
      <div class="items-center flex flex-wrap">
        <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-left">
          <div class="pr-12">
            <div class="flex flex-row justify-items-center" id="heading">
              <svg class="text-red-500 mr-4" width="20" 
              height="50">
                <rect x="0" y="0" width="10" height="50" 
                class="fill-current"></rect>
              </svg>
              <p class="mt-4 text-2xl text-white tracking-widest">
                ARE YOU READY TO
              </p>
            </div>
            <h1 class="text-white font-semibold text-6xl mb-7 ">
              <span class="text-red-500">GET FIT</span>, STRONG <br>& MOTIVATED!
            </h1>
            <h2 class="text-white font-semibold text-3xl mt-12
            text-center">
          <a href="register"
          class=" border border-red-600 border-8 p-4 btn-1">
          <span>Join Us Now</span></a> 
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section id="About" class=" bg-black text-white">
    <h3 class="text-5xl mb-2 font-semibold leading-normal text-red-600 text-center">
      About Us
    </h3>
      <div class="flex flex-wrap items-center">
        
        <div class="w-full md:w-5/12 px-4 mr-auto ml-auto mt-4">
          <p
            class="text-lg font-light leading-relaxed mt-4 mb-4"
          >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Placeat iusto eos iste laborum! Minima, harum?
          </p>
          <p
            class="text-lg font-light leading-relaxed mt-0 mb-4"
          >
            Lorem ipsum dolor sit amet consectetur, 
            adipisicing elit. Distinctio consequatur perspiciatis rem explicabo,
            corrupti ex enim ea vero repellat. Sint facere cumque consequuntur 
            voluptate nam expedita.Quod, odit quidem? Molestias!
          </p>
        </div>
        <div class="max-w-screen ml-auto">
          <img class="opacity-75"
           src="https://images.unsplash.com/photo-1580086319619-3ed498161c77?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="">
          
          </div>
      </div>
  </section>
  <section id="Goal" class="relative py-4 bg-white">
    <h3 class="text-5xl font-bold text-red-600 text-center">Our Goal</h3>
    <div class="container mx-auto px-4">
      <div class="items-center flex flex-wrap">
        <div class="w-full md:w-4/12 ml-auto mr-auto px-4">
          <img
            alt="..."
            class="max-w-full rounded-lg shadow-lg"
            src="https://images.unsplash.com/photo-1553531580-a000ac8df244?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=282&q=80"
          />
        </div>
        <div class="w-full md:w-5/12 ml-auto mr-auto px-4 text-black">
          <div class="md:pr-12">
            
            <p class="mt-4 text-lg leading-relaxed">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
               Numquam necessitatibus deleniti aliquid dolores nulla vel enim omnis 
               similique doloremque voluptatibus velit itaque quo ullam perferendis quos
                fugit impedit, optio sequi culpa consequatur
               quasi dolor cum adipisci mollitia. Autem, distinctio deserunt?.
            </p>
            <ul class="list-none mt-6">
              <li class="py-2">
                <div class="flex items-center">
                  <div>
                    <span
                      class="text-m font-semibold inline-block py-1 px-2 uppercase rounded-full text-red-600 bg-white mr-3"
                      ><i class="fas fa-utensils"></i
                    ></span>
                  </div>
                  <div>
                    <h4 class="">
                      Carefully Selected Diet
                    </h4>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="flex items-center">
                  <div>
                    <span
                      class="text-m font-semibold inline-block py-1 px-2 uppercase rounded-full text-red-600 bg-white mr-3"
                      ><i class="fas fa-dumbbell"></i
                    ></span>
                  </div>
                  <div>
                    <h4 class="">Amazing Equipment</h4>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="flex items-center">
                  <div>
                    <span
                      class="text-m font-semibold inline-block py-1 px-2 uppercase rounded-full text-red-600 bg-white mr-3"
                      ><i class="far fa-calendar-alt"></i
                    ></span>
                  </div>
                  <div>
                    <h4 class="">Flexible Schedule</h4>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="Trainers" class=" pb-48 bg-black">
    <h2 class="text-5xl font-bold text-red-600 text-center">Meet our Trainers</h2>
    <div class="pt-20 container mx-auto px-4 text-white">
      <div class="flex flex-wrap justify-center text-center mb-24">
        <div class="w-full lg:w-6/12 px-4">
          <p class="text-lg leading-relaxed m-4">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Asperiores doloremque totam dolor sint saepe accusantium 
            nesciunt maxime fugiat similique obcaecati!
          </p>
        </div>
      </div>
      <div class="flex flex-wrap">
        <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
          <div class="px-6">
            <img
              alt="..."
              src="./assets/img/team-1-800x800.jpg"
              class="shadow-lg rounded-full max-w-full mx-auto"
              style="max-width: 120px;"
            />
            <div class="pt-6 text-center">
              <h5 class="text-xl font-bold">Louay Oudi</h5>
              <p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
                Calisthenics Athlete
              </p>
              <div class="mt-6">
                <a href="https://www.facebook.com/louay.oudi/"
                  class="bg-blue-600 text-white px-3 py-2 rounded-full outline-none focus:outline-none mr-1 mb-1"
                >
                  <i class="fab fa-facebook-f"></i></a>
                  <a href="https://www.instagram.com/oudi_sw/"
                  class="bg-gray-800 text-white px-3 py-2 rounded-full outline-none focus:outline-none mr-1 mb-1"
                >
                  <i class="fab fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
          <div class="px-6">
            <img
              alt="..."
              src="./assets/img/team-2-800x800.jpg"
              class="shadow-lg rounded-full max-w-full mx-auto"
              style="max-width: 120px;"
            />
            <div class="pt-6 text-center">
              <h5 class="text-xl font-bold">Abdou Rejeb</h5>
              <p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
                Crossfit Athlete
              </p>
              <div class="mt-6">
                <a href="https://www.facebook.com/abderrahmen.rejeb.9"
                  class="bg-blue-600 text-white px-3 py-2 rounded-full outline-none focus:outline-none mr-1 mb-1"
                >
                  <i class="fab fa-facebook-f"></i></a>
                  <a href="https://www.instagram.com/abdou._.rejeb/"
                  class="bg-gray-800 text-white px-3 py-2 rounded-full outline-none focus:outline-none mr-1 mb-1"
                >
                  <i class="fab fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
          <div class="px-6">
            <img
              alt="..."
              src="./assets/img/team-3-800x800.jpg"
              class="shadow-lg rounded-full max-w-full mx-auto"
              style="max-width: 120px;"
            />
            <div class="pt-6 text-center">
              <h5 class="text-xl font-bold">Alexa Smith</h5>
              <p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
                Booty Builder
              </p>
              <div class="mt-6">
                <button
                  class="bg-red-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button"
                >
                  <i class="fab fa-google"></i></button
                ><button
                  class="bg-blue-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button"
                >
                  <i class="fab fa-twitter"></i></button
                ><button
                  class="bg-gray-800 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button"
                >
                  <i class="fab fa-instagram"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
          <div class="px-6">
            <img
              alt="..."
              src="./assets/img/team-4-470x470.jpg"
              class="shadow-lg rounded-full max-w-full mx-auto"
              style="max-width: 120px;"
            />
            <div class="pt-6 text-center">
              <h5 class="text-xl font-bold">Iyed Kraiem</h5>
              <p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
                Bodybuilding Expert
              </p>
              <div class="mt-6">
                <a href="https://www.facebook.com/iyed.kraiem.3/"
                  class="bg-blue-600 text-white px-3 py-2 rounded-full outline-none focus:outline-none mr-1 mb-1"
                >
                  <i class="fab fa-facebook-f"></i></a>
                  <a href="https://www.instagram.com/iyed_kraiem/"
                  class="bg-gray-800 text-white px-3 py-2 rounded-full outline-none focus:outline-none mr-1 mb-1"
                >
                  <i class="fab fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="pb-20 relative block bg-white" id="Why">
    <div
      class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
      style="height: 80px; transform: translateZ(0px);"
    >
      <svg
        class="absolute bottom-0 overflow-hidden"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none"
        version="1.1"
        viewBox="0 0 2560 100"
        x="0"
        y="0"
      >
        <polygon
          class="text-white fill-current"
          points="2560 0 2560 100 0 100"
        ></polygon>
      </svg>
    </div>
    <h2 class="text-5xl font-bold text-red-600 text-center">Why Pick Us</h2>
    <div class="container mx-auto px-4 lg:pt-24 lg:pb-64">
      <div class="flex flex-wrap text-center justify-center">
        <div class="w-full lg:w-6/12 px-4">
          <p class="text-lg leading-relaxed mt-4 mb-4 text-black">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
             Praesentium, ducimus quaerat
             officia fugit delectus suscipit obcaecati incidunt earum ex officiis?
          </p>
        </div>
      </div>
      <div class="flex flex-wrap mt-12 justify-center">
        <div class="w-full lg:w-3/12 px-4 text-center">
          <div
            class="text-red-600 p-3 w-12 h-12  rounded-full bg-white inline-flex items-center justify-center"
          >
            <i class="fas fa-medal text-5xl"></i>
          </div>
          <h6 class="text-xl mt-5 font-semibold text-black">
            Qualified Coaches
          </h6>
          <p class="mt-2 mb-4 text-black">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
             Ut, architecto.
          </p>
        </div>
        <div class="w-full lg:w-3/12 px-4 text-center">
          <div
            class="text-red-600 p-3 w-12 h-12 rounded-full bg-white inline-flex items-center justify-center"
          >
            <i class="fas fa-clock text-5xl"></i>
          </div>
          <h5 class="text-xl mt-5 font-semibold text-black">
            Open 24/7
          </h5>
          <p class="mt-2 mb-4 text-black">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, magni?
          </p>
        </div>
        <div class="w-full lg:w-3/12 px-4 text-center">
          <div
            class="text-red-600 p-3 w-12 h-12 rounded-full bg-white inline-flex items-center justify-center"
          >
            <i class="fas fa-hand-holding-usd text-5xl"></i>
          </div>
          <h5 class="text-xl mt-5 font-semibold text-black">Guaranteed Payback</h5>
          <p class="mt-2 mb-4 text-black">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, nulla.
          </p>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
